/* Reset default spacing and set background */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #32302F, #32302F);
  color: #FBF1C7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Style the main heading */
h1 {
  color: #FBF1C7;
  font-size: 4em;
  animation: fadeIn 2s ease-in-out;
  text-shadow: 0 0 10px #D5C4A1, 0 0 20px #D5C4A1;
}

/* Style the paragraph */
p {
  font-size: 1.5em;
  color: #A89984;
  margin-top: 10px;
  align-items: center;
  max-width: 80%;
  padding: 10px;
  display: flex;
  animation: slideIn 4s ease-out;
}

/* Add smooth animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-30px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  from { opacity: 0; transform: translateY(30px); }
  to   { opacity: 1; transform: translateY(0); }
}
